<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>
    <main>
      <div class="container">
       
        <div class="button">
          <div class="image">
            <img src="https://images.all-free-download.com/images/graphiclarge/check_list_background_writing_hand_marker_pen_icons_6835496.jpg">
          </div>
          <a href="/user/signup"><button>Signup</button></a>
          <a href="/user/login"><button>Login</button></a>
        </div>
      </div>
    </main>
  </body>
</html>