<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/header.ejs")%>  
<main>
    <div class= "container">
        <form   action="/todos" method="post">
            <fieldset>
                <legend>ADD A NEW ACTIVITY</legend>
                    <label class="label">NAME:<input 
                        type="text"
                        name="name"
                        placeholder="brief description"/>
                    </label>   
                    <label class="label">CATEGORY: <input 
                        type="text"
                        name="category"
                        placeholder="insert a category"/>
                    </label>           
                    <label class="label">DATE TO START:<input 
                        type="date"
                        name="date_to_do"
                        />
                    </label>                                
                    <label class="label">DUE DATE:<input 
                        type="date"
                        name="due_date"
                       />
                    </label>   
                    <label class="label">COMMENT:<textarea 
                        name="comment" 
                        rows="4" 
                        cols="50"></textarea>
                       
                    </label>                     
                    <label class="label">COMPLETED:<input 
                        type="checkbox"
                        name="completed"
                        />
                    </label>            
                    <input type="submit" value="Add Activity"/>
        
            </fieldset>
           
        </form>
       
       
    </div>
</main>

</body>
</html>